<mat-list>
  <div mat-subheader>Usage :</div>
  <mat-list-item>
    <div mat-line *ngIf="build && build.Usage">{{build.Usage.Tu_Nom}}</div>
  </mat-list-item>
  <mat-divider></mat-divider>

  <div mat-subheader>Frame :</div>
  <mat-list-item>
    <div mat-line *ngIf='build && build.Frame'>{{build.Frame.Fr_Marque}} {{build.Frame.Fr_Modele}}</div>
    <div mat-line *ngIf='build && build.Frame'>{{build.Frame.Fr_Prix | currency:'EUR':'symbol'}}</div>
  </mat-list-item>
  <mat-divider></mat-divider>

  <div mat-subheader>Moteur :</div>
  <mat-list-item>

  </mat-list-item>
  <mat-divider></mat-divider>

  <div mat-subheader>VTX :</div>
  <mat-list-item>

  </mat-list-item>
  <mat-divider></mat-divider>

  <div mat-subheader>FC :</div>
  <mat-list-item>

  </mat-list-item>
  <mat-divider></mat-divider>

  <div mat-subheader>Radio :</div>
  <mat-list-item>

  </mat-list-item>
  <mat-divider></mat-divider>

  <div mat-subheader>Rx :</div>
  <mat-list-item>

  </mat-list-item>
  <mat-divider></mat-divider>

  <div mat-subheader>Antenne Rx :</div>
  <mat-list-item>

  </mat-list-item>
  <mat-divider></mat-divider>

  <div mat-subheader>Action cam :</div>
  <mat-list-item>

  </mat-list-item>
  <mat-divider></mat-divider>

  <div mat-subheader>Accessoires :</div>
  <mat-list-item>

  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item>
    <h2>Prix total : {{total | currency:'EUR':'symbol'}}</h2>
  </mat-list-item>
  <mat-divider></mat-divider>