<ol class="list-group list-group-numbered">
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Usage :</div>
        <ng-container *ngIf="build && build.Usage">{{build.Usage.Tu_Nom}}</ng-container> 
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Frame :</div>  
        <ng-container *ngIf='build && build.Frame'>{{build.Frame.Fr_Marque}} {{build.Frame.Fr_Modele}}</ng-container>           
      </div>
      <span class="badge bg-primary rounded-pill" 
      *ngIf='build && build.Frame'>{{build.Frame.Fr_Prix | currency:'EUR':'symbol'}}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Moteur :</div>
      </div>
      <span class="badge bg-primary rounded-pill">€</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">VTX :</div>
          
        </div>
        <span class="badge bg-primary rounded-pill">€</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">FC :</div>
          
        </div>
        <span class="badge bg-primary rounded-pill">€</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Radio :</div>
          
        </div>
        <span class="badge bg-primary rounded-pill">€</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Rx :</div>
          
        </div>
        <span class="badge bg-primary rounded-pill">€</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Antenne Rx :</div>
          
        </div>
        <span class="badge bg-primary rounded-pill">€</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Action cam :</div>
          
        </div>
        <span class="badge bg-primary rounded-pill">€</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Accessoires :</div>          
        </div>
        <span class="badge bg-primary rounded-pill">€</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Prix total : </div>          
        </div>
        <span class="badge bg-primary rounded-pill">{{total | currency:'EUR':'symbol'}}</span>
      </li>
  </ol>
