<ul class="list-group">
    <a class="list-group-item list-group-item-action" [class.list-group-item-dark]="currentRoute == '/admin/usage'" href="/admin/usage">Usages</a>
    <a class="list-group-item list-group-item-action" [class.list-group-item-dark]="currentRoute == '/admin/frame'" href="/admin/frame">Frame</a>
    <a class="list-group-item list-group-item-action" [class.list-group-item-dark]="currentRoute == '/admin/moteur'" href="/admin/moteur">Moteur</a>
    <a class="list-group-item list-group-item-action" [class.list-group-item-dark]="currentRoute == '/admin/vtx'" href="/admin/vtx">VTX</a>
    <a class="list-group-item list-group-item-action" [class.list-group-item-dark]="currentRoute == '/admin/fc'" href="/admin/fc">FC</a>
    <a class="list-group-item list-group-item-action" [class.list-group-item-dark]="currentRoute == '/admin/radio'" href="/admin/radio">Radio</a>
    <a class="list-group-item list-group-item-action" [class.list-group-item-dark]="currentRoute == '/admin/rx'" href="/admin/rx">Rx</a>
    <a class="list-group-item list-group-item-action" [class.list-group-item-dark]="currentRoute == '/admin/antenne-rx'" href="/admin/antenne-rx">Antenne VTX</a>
    <a class="list-group-item list-group-item-action" [class.list-group-item-dark]="currentRoute == '/admin/action-cam'" href="/admin/action-cam">Action cam</a>
    <a class="list-group-item list-group-item-action" [class.list-group-item-dark]="currentRoute == '/admin/accessoire'" href="/admin/accessoire">Accessoire</a>
  </ul>
