<mat-selection-list #shoes [multiple]="false">
    <mat-list-option routerLink='/admin/usage'>Usages</mat-list-option>
    <mat-list-option routerLink='/admin/frame'>Frame</mat-list-option>
    <mat-list-option routerLink='/admin/moteur'>Moteur</mat-list-option>
    <mat-list-option routerLink='/admin/vtx'>VTX</mat-list-option>
    <mat-list-option routerLink='/admin/fc'>FC</mat-list-option>
    <mat-list-option routerLink='/admin/radio'>Radio</mat-list-option>
    <mat-list-option routerLink='/admin/rx'>RX</mat-list-option>
    <mat-list-option routerLink='/admin/antenne-rx'>Antenne RX</mat-list-option>
    <mat-list-option routerLink='/admin/action-cam'>Action Cam</mat-list-option>
    <mat-list-option routerLink='/admin/accessoire'>Accessoires</mat-list-option>    
  </mat-selection-list>
