<mat-accordion>
  <mat-expansion-panel *ngFor='let usage of usages'>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{usage.Tu_Nom}}
      </mat-panel-title>
      <mat-panel-description>
        
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>{{usage.Tu_Description}}</p>

    <mat-action-row>
      <button mat-flat-button matStepperNext color="primary" (click)="nextStep(usage)">Selectionner</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<!-- 
  <div>
    <div class="card" *ngFor='let usage of usages'>
      <div class="card-header">
        <h3>{{usage.Tu_Nom}}</h3>
      </div>


      <div class="card-body">
        <p class="card-text">{{usage.Tu_Description}}</p>
        <button mat-raised-button matStepperNext (click)='nextStep(usage)'>Selectionner</button>
      </div>
    </div>

  </div> -->