<button mat-button color="warn" (click)="stepper.reset()">Reset</button>

<mat-horizontal-stepper [linear]="isLinear" #stepper (animationDone)="selectionChange(stepper)">
  <mat-step [stepControl]="usageComponent">
    <ng-template matStepLabel>Usage</ng-template>
    <app-usage></app-usage>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Frame</ng-template>
    <app-frame></app-frame>
  </mat-step>

   <mat-step>
    <ng-template matStepLabel>Moteur</ng-template>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>VTX</ng-template>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>FC</ng-template>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Radio</ng-template>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Rx</ng-template>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Antenne RX</ng-template>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Action cam</ng-template>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>

    <mat-step>
      <ng-template matStepLabel>Accessoires</ng-template>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-step>



</mat-horizontal-stepper>